// Цвета в макете
$main-bg-color: #000000;
$title-color: #FFFFFF;
$card-bg-color: #1C1C1E;
$card-bg-hover-color: #232327;
$text-color: #8E8E98;
$button-color: #47474C;
$notice-color: #25E197;
$decor-color: #FFD233;
$line-color: #151515;