.footer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: $section-width;
    margin: 0 auto;
    padding: 60px 60px 42px;
    border-top: 2px solid #151515;

    &__copyright {
        margin: 0;
        align-self: flex-end;
        font-size: 12px;
        line-height: 18px;
        color: $button-color;
        transform: translateY(-18px);
    }
}

@media (max-width: 1024px) {
    .footer {
        &__copyright {
            margin-top: 60px;
            align-self: flex-start;
            transform: none;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 30px 20px 20px;

        &__copyright {
            margin-top: 40px;
        }
    }
}