.gallery {
    padding: 60px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &__img-1 {
        border-radius: 10px;
    }

    &__img-2 {
        border-radius: 10px;
    }

    &__block-1 {
        width: calc(100% - 468px);
        background-color: $decor-color;
        border-radius: 10px;
    }

    &__block-2 {
        width: calc(100% - 750px);
        background-color: $notice-color;
        border-radius: 10px;
    }
}

@media (max-width: 1024px) {
    
    .gallery {
        
        &__img-2 {
            max-width: 455px;
        }
    
        &__block-2 {
            width: calc(100% - 475px);
            min-height: 344px;
        }
    }
}

@media (max-width: 768px) {
    
    .gallery {
        padding: 20px 60px 60px;
    }
}