.logo {
    margin: 0;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin-left: 4px;
    
    &__notice {
        font-size: 12px;
        line-height: 12px;
        margin-left: 18px;
        padding: 4px 8px;
        background-color: #25E197;
        border-radius: 4px;
        color: $main-bg-color;
    }

    &_place {

        &_footer {
            margin-left: 0;
            margin-bottom: 84px;
        }

    }

}

@media (max-width: 1023px) {
    .logo {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .logo {
        font-size: 20px;
        line-height: 28px;

        &__notice {
            margin-left: 12px;
        }

        &_place {

            &_footer {
                margin-bottom: 184px;
            }

        }
    }

}